body{
  background-color: linen;
}

.square{
  height: 10em;
  width: 10em;
  position: relative;
}

#first{
  background-color: MediumBlue;
}

#second{
  background-color: DeepPink;
  left: 10em;
}

#thrid{
  background-color: GoldenRod;
}
