#sheet_Complete{
  background-color: lightSalmon;
  bottom: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#menu{
  background-color: lightSteelBLue;
  height:3em;
  margin-left: 15em;
  margin-right: 15em;
  width: auto;
}

.small_box{
  border-right: 0.1em solid steelBlue;
  display: inline-block;
  height: 2em;
  padding-top: 1em;
  text-align: center;
  width: 4em;
}

#content{
  border: 0.1em solid white;
  background-color: floralWhite;
  margin-left: 15em;
  margin-right: 15em;
}

div#content p{
  padding-left: 1em;
  padding-right: 15em;
  text-align: justify;
}

#box_left{
  border: 0.1em solid darkSeaGreen;
  border-top: 0.5em solid darkOliveGreen;
  background-color: darkSeaGreen;
  height: 80em;
  position: absolute;
  right: 10em;
  top: 10em;
  width: 15em;
}

div#box_left p{
  text-align: justify;
  padding: 1em;
}

#footer{
  background-color: goldenRod;
  bottom: 0;
  left: 15em;
  padding: 0.5em;
  position: fixed;
  right: 15em;
}
