body{
  background-color: linen;
}

.square{
  height: 10em;
  position: relative;
  width: 10em;
}

#box1{
  background-color: pink;
  left: 0.1em;
  top: 0.1em;
}

#box2{
  background-color: gold;
  left: 4.5em;
  bottom: 10.5em;
}
